<html>

<p> 1: "https://www.washingtonpost.com/politics/white-house-tells-court-it-is-immediately-stopping-aca-cost-sharing-subsidies/2017/10/13/4c404234-b01d-11e7-be94-fabb0f1e9ffb_story.html?utm_term=.4dc8ef8a9bdf" <p>